In [3]:
import numpy as np
import pandas as pd
import mysql.connector

## PRACTICAL ASSIGNMENT Q 3

## Q1

In [4]:
from cmath import nan

df = pd.DataFrame(np.random.randint(1,100,150).reshape(50,3),columns=['first','second','third'])
df.index.name = 'SNo.'

# #initializing rows(selected randomly) with nan 
# #generating random rows value
# random_rows = np.random.randint(0,50,5)
# print('Random selected rows :: ',random_rows)

# # initializing with nan
# df.iloc[random_rows] = nan

'''
(i)
'''

# # counting nan values
# print('Count of NaN values :: ',df.isna().sum().sum())

'''
=================================================================
'''

# initializing specific elements = nan by generating random row and col index value
# random_rows = np.random.randint(0,50,15)
# random_cols = np.random.randint(0,3,15)
# random_index = list(zip(random_rows,random_cols))
# print('Random selected positions :: ',random_index)

# # initializing value at random_index with nan
# for x,y in random_index:
#     df.iloc[x,y] = nan

# print('Count of NaN values :: ',df.isna().sum().sum())


'''
(ii)
'''
# count of null values in a column
# nullCount = df.isna().sum()
# print('Count of Nan in each column :: \n',nullCount,'\n')
# indx = nullCount[nullCount>5].index
# print('Column with count of nan > 5 :: ',list(indx),'\n')
# data2 = df.drop(indx,axis=1)
# print(data2.head(5))

'''
(iii)
'''

# # finding sum of each row
# data = df.sum(axis=1)

# # finding index of the row which have max sum value
# max_row_index = data[data == data.max()].index
# print('Row index with max sum :: ',max_row_index)
# # drop that row
# display(df.drop(max_row_index))

'''
(iv)
'''
# display(df.sort_values('first'))

'''
(v)
'''

# display(df.drop_duplicates(subset='first',keep='first'))

'''
(vi)
'''
# print('Correlation between first and second column :: ')
# df_corr = df[['first','second']].corr()
# display(df_corr)

# print('Covariance between second  and third column :: ')
# df_cov = df[['second','third']].cov()
# display(df_cov)


# display(df.head(10))

'''
(viii)
'''

# bins = [0,20,40,60,80,100]
# second_col_bins = pd.qcut(df['second'],5)
# second_col_bins.value_counts()

'\n(viii)\n'

## Q2.

In [5]:
from audioop import reverse
from re import T


Name = ['A','B','C','D','E','F','G','H','I','J']


#function generating roll NO.
rollno = []
for i in range(1,11):
    rollno.append('AC-'+str(i))

df = pd.DataFrame(np.random.randint(40,101,50).reshape(10,5),columns = ['S1','S2','S3','S4','S5'])
df.insert(0,'Roll_No',rollno,True)
df.insert(1,'Name',Name,True)
# df.set_index('Roll_No',drop=True,inplace = True)


'''
(i)
'''

df['AVG Marks'] = df.loc[:,'S1':'S5'].mean(axis=1)
display(df)

'''
(ii)
'''

# new_row = df.mean()
# new_row.name = 'avg'
# df = df.append(new_row).fillna('0')

'''
(iii)
'''
# for i in df.columns[1:6]:
#     print('Descriptive statistics of subject',i)
#     display(df[i].describe())

'''
(iv)
'''
# DISCRETIZATION
# bins = [0,60,70,80,90,95,100]
# label = ['D','C','B','B+','A','A+']
# student_grades =  pd.cut(df['AVG Marks'],bins,labels = label)
# df['Grade'] = student_grades

'''
(v)
'''
# print('Frequency of each grade :: ')
# display(df['Grade'].value_counts())


'''
(vi)
'''
def grade(i):
    if i>95:
        return 'A+'  
    elif i>90:
        return 'A'
    elif i>80:
        return 'B'
    elif i>70:
        return 'C'
    elif i>60:
        return 'D'
    else:
        return 'E'

f = lambda x: grade(x)

# assign grade for each subject
df.iloc[:,2:] = df.iloc[:,2:].applymap(f)
# df.drop(['AVG Marks','Grade'],axis=1,inplace = True)

#function to get grade with max freq
# f2 = lambda x : x.value_counts().idxmax()
# df['Max Grade Obtained'] = df.iloc[:,1:6].apply(f2,axis=1)

# #funtion to get frequency of grade obtained max times
# f3 = lambda x : x.value_counts().values[0]
# df['Frequency'] = df.iloc[:,1:6].apply(f3,axis=1)

display(df)

  Roll_No Name  S1   S2  S3  S4  S5  AVG Marks
0    AC-1    A  49   45  59  48  94       59.0
1    AC-2    B  49   63  80  99  66       71.4
2    AC-3    C  48   80  86  86  69       73.8
3    AC-4    D  74   60  54  78  95       72.2
4    AC-5    E  75   84  59  63  47       65.6
5    AC-6    F  97   72  75  94  99       87.4
6    AC-7    G  91   87  93  67  83       84.2
7    AC-8    H  76   74  55  64  94       72.6
8    AC-9    I  95  100  51  44  70       72.0
9   AC-10    J  92   87  47  93  56       75.0

  Roll_No Name  S1  S2 S3  S4  S5 AVG Marks
0    AC-1    A   E   E  E   E   A         E
1    AC-2    B   E   D  C  A+   D         C
2    AC-3    C   E   C  B   B   D         C
3    AC-4    D   C   E  E   C   A         C
4    AC-5    E   C   B  E   D   E         D
5    AC-6    F  A+   C  C   A  A+         B
6    AC-7    G   A   B  A   D   B         B
7    AC-8    H   C   C  E   D   A         C
8    AC-9    I   A  A+  E   E   D         C
9   AC-10    J   A   B  E   A   E         C

## Q3

In [6]:
# hobby1 = ['Reading','Dancing','Writing','Singing','Reading','Painting']
# hobby2 = ['Painting','Dancing','Reading','Playing','Writing','Singing']

# hobby1.extend(hobby2)
# new_series = pd.Series(hobby1).value_counts()
# new_series.index.name = 'hobbies'
# display(new_series)

## PRACTICE Q

In [7]:
# df = pd.DataFrame()
# df['Date'] = pd.date_range('1/1/2021',periods=10)
# df['Temperature'] = np.random.randint(33,42,10)
# df['Humidity'] = np.random.randint(60,81,10)
# df['Pressure'] = np.random.randint(10,21,10)
# df = df.set_index('Date')

# display(df)

## Q4

In [8]:
# reading two csv files
df1 = pd.read_csv('Student_2019.csv')
df2 = pd.read_csv('Student_2020.csv' )

'''
(i)
'''

# #display all hobbies types for each course in 2019

# df1_new = df1[['Course','Hobby']].drop_duplicates(keep='first')
# df1_new = df1_new.set_index(['Course','Hobby'],drop=True)
# df1_new = df1_new.sort_index()
# display('Hobbies in 2019 :: ',df1_new)  


# #display all hobbies types for each course in 2020
# df2_new = df2[['Course','Hobby']].drop_duplicates(keep='first')
# df2_new = df2_new.set_index(['Course','Hobby'],drop=True)
# df2_new = df2_new.sort_index()
# display('Hobbies in 2020 :: ',df2_new)  

'''
(ii)
'''

# print('Hobbies which are there in 2019 but not in 2020 for each course :: ')
# df1_new = df1[['Course','Hobby']].set_index('Course',drop=True)
# df2_new = df2[['Course','Hobby']].set_index('Course',drop=True)

# for i in df1_new.index.unique():
#     df = df1_new.loc[i]
#     display(i,df[~df.isin(df2_new.loc[i].values.flatten())].dropna())


'''
(iii)
'''

# print('Hobbies which are common in both years :: ')
# for i in df1_new.index.unique():
#     df = df1_new.loc[i]
#     display(df[df.isin(df2_new.loc[i].values.flatten())].dropna())

'''
(iv)
'''
# print('Course names in which students are exploring all hobbies in 2019 :: ')
# for i in df1_new.index.unique():
#     if (len(df1_new.loc[i]['Hobby'].unique())==4):
#         print(i)

# print('\nCourse names in which students are exploring all hobbies in 2020 :: ')
# for i in df2_new.index.unique():
#     if (len(df2_new.loc[i]['Hobby'].unique())==4):
#         print(i)



'''
(v)
'''
# print('Number of students exploring each hobby in 2019 :: ',len(df1['Name'].value_counts()[df1['Name'].value_counts()==4])) 
# print('Number of students exploring each hobby in 2020 :: ',len(df2['Name'].value_counts()[df2['Name'].value_counts()==4]))

'\n(v)\n'

## Q5

In [29]:
# df1 = pd.read_csv('StudentMarks_2019.csv')
# df2 = pd.read_csv('StudentMarks_2020.csv')

# '''
# (a)
# '''

# # remove all rows with any null value
# df1.dropna(inplace=True)
# df2.dropna(inplace=True)

# # drop column SNo. form both dataframes
# df1.drop('SNo.',axis=1,inplace=True)
# df2.drop('SNo.',axis=1,inplace=True)

# # combine dataframes
# df_merged = df1.append(df2,ignore_index=True)    


# '''
# (b)
# '''

# #Creating a dataframe with mean ,median and standard deviation of numeric columns
# New = df_merged.describe().iloc[[1,5,2]]

# # find unique values, value appearing max times and its frequency for alphanumeric columns
# alpha_num = df_merged['Roll No.'].describe()[1:]

# # insert alpha_num col at index 0
# New.insert(0,'Roll NO.',alpha_num.values)

# # assign user defined row labels to indexes
# New.index = ['unique / mean','MaxAppear / Median','Freq / Std']
# New.index.name = 'Alpha_num / Numeric'        #name of the index column


# '''
# (c)
# '''
# # storing New dataframe in a excel file
# New.to_excel('NewDF.xlsx',sheet_name='sheet1')
df.columns = ['Roll_No','Name','Sub1','Sub2','Sub3','Sub4','Sub5','NetGrade']
df

  Roll_No Name Sub1 Sub2 Sub3 Sub4 Sub5 NetGrade
0    AC-1    A    E    E    E    E    A        E
1    AC-2    B    E    D    C   A+    D        C
2    AC-3    C    E    C    B    B    D        C
3    AC-4    D    C    E    E    C    A        C
4    AC-5    E    C    B    E    D    E        D
5    AC-6    F   A+    C    C    A   A+        B
6    AC-7    G    A    B    A    D    B        B
7    AC-8    H    C    C    E    D    A        C
8    AC-9    I    A   A+    E    E    D        C
9   AC-10    J    A    B    E    A    E        C

## Q6

In [34]:

# connecting to database
mydb = mysql.connector.connect(host='localhost',user='root',password = 'keshav21@',database='student_db')
mycursor = mydb.cursor(buffered= True)

#manipulating database

# create database
# query = "create database if not exists Student_db;"
# mycursor.execute(query)

# create table1

query = "create table if not exists student_grades (Roll_No char(6),Name varchar(30) not null,Sub1 char(2),Sub2 char(2),Sub3 char(2),Sub4 char(2),Sub5 char(2),NetGrade char(2),constraint primary key (Roll_No));"
mycursor.execute(query)
# mydb.commit()

In [35]:
df.to_sql(con = mydb,name = 'studentgrades',if_exists = 'replace',index_label=None)
mydb.close()

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement