In [1]:
import numpy as np
import pandas as pd

## PRACTICAL ASSIGNMENT Q 3

## Q1

In [12]:
from cmath import nan

df = pd.DataFrame(np.random.randint(1,100,150).reshape(50,3),columns=['first','second','third'])
df.index.name = 'SNo.'

# #initializing rows(selected randomly) with nan 
# #generating random rows value
# random_rows = np.random.randint(0,50,5)
# print('Random selected rows :: ',random_rows)

# # initializing with nan
# df.iloc[random_rows] = nan

'''
(i)
'''

# # counting nan values
# print('Count of NaN values :: ',df.isna().sum().sum())

'''
=================================================================
'''

# initializing specific elements = nan by generating random row and col index value
# random_rows = np.random.randint(0,50,15)
# random_cols = np.random.randint(0,3,15)
# random_index = list(zip(random_rows,random_cols))
# print('Random selected positions :: ',random_index)

# # initializing value at random_index with nan
# for x,y in random_index:
#     df.iloc[x,y] = nan

# print('Count of NaN values :: ',df.isna().sum().sum())


'''
(ii)
'''
# count of null values in a column
# nullCount = df.isna().sum()
# print('Count of Nan in each column :: \n',nullCount,'\n')
# indx = nullCount[nullCount>5].index
# print('Column with count of nan > 5 :: ',list(indx),'\n')
# data2 = df.drop(indx,axis=1)
# print(data2.head(5))

'''
(iii)
'''

# # finding sum of each row
# data = df.sum(axis=1)

# # finding index of the row which have max sum value
# max_row_index = data[data == data.max()].index
# print('Row index with max sum :: ',max_row_index)
# # drop that row
# display(df.drop(max_row_index))

'''
(iv)
'''
# display(df.sort_values('first'))

'''
(v)
'''

# display(df.drop_duplicates(subset='first',keep='first'))

'''
(vi)
'''
# print('Correlation between first and second column :: ')
# df_corr = df[['first','second']].corr()
# display(df_corr)

# print('Covariance between second  and third column :: ')
# df_cov = df[['second','third']].cov()
# display(df_cov)


# display(df.head(10))

'\n(f)\n'

## Q2.

In [48]:
Name = ['A','B','C','D','E','F','G','H','I','J']


#function generating roll NO.
rollno = []
for i in range(1,11):
    rollno.append('AC-'+str(i))

df = pd.DataFrame(np.random.randint(40,101,50).reshape(10,5),columns = ['S1','S2','S3','S4','S5'])
df.insert(0,'Roll No.',rollno,True)
df.insert(1,'Name',Name,True)
df.set_index('Roll No.',drop=True,inplace = True,)


'''
(i)
'''

df['AVG Marks'] = df.loc[:,'S1':'S5'].mean(axis=1)

'''
(ii)
'''

# new_row = df.mean()
# new_row.name = 'avg'
# df = df.append(new_row).fillna('0')

'''
(iii)
'''
# for i in df.columns[1:6]:
#     print('Descriptive statistics of subject',i)
#     display(df[i].describe())

'''
(iv)
'''
def grade(i):
    if i>95:
        return 'A+'  
    elif i>90:
        return 'A'
    elif i>80:
        return 'B'
    elif i>70:
        return 'C'
    elif i>60:
        return 'D'
    else:
        return 'E'


f = lambda x :  grade(x)
df['Grade'] = df['AVG Marks'].apply(f)

'''
(v)
'''
# print('Frequency of each grade :: ')
# display(df['Grade'].value_counts())


'''
(vi)
'''
# assign grade for each subject
# df.iloc[:,1:6] = df.iloc[:,1:6].applymap(f)
# df.drop(['AVG Marks','Grade'],axis=1,inplace = True)

# #function to get grade with max freq
# f2 = lambda x : x.value_counts().idxmax()
# df['Max Grade Obtained'] = df.iloc[:,1:6].apply(f2,axis=1)

# #funtion to get frequency of grade obtained max times
# f3 = lambda x : x.value_counts().values[0]
# df['Frequency'] = df.iloc[:,1:6].apply(f3,axis=1)

# display(df)

'\n(vi)\n'

## Q3

In [4]:
hobby1 = ['Reading','Dancing','Writing','Singing','Reading','Painting']
hobby2 = ['Painting','Dancing','Reading','Playing','Writing','Singing']

hobby1.extend(hobby2)
new_series = pd.Series(hobby1).value_counts()
new_series.index.name = 'hobbies'
display(new_series)

hobbies
Reading     3
Dancing     2
Writing     2
Singing     2
Painting    2
Playing     1
dtype: int64

## PRACTICE Q

In [5]:
df = pd.DataFrame()
df['Date'] = pd.date_range('1/1/2021',periods=10)
df['Temperature'] = np.random.randint(33,42,10)
df['Humidity'] = np.random.randint(60,81,10)
df['Pressure'] = np.random.randint(10,21,10)
df = df.set_index('Date')

display(df)

            Temperature  Humidity  Pressure
Date
2021-01-01           33        64        12
2021-01-02           38        71        11
2021-01-03           36        64        13
2021-01-04           34        79        20
2021-01-05           34        62        18
2021-01-06           40        77        11
2021-01-07           37        77        12
2021-01-08           40        77        15
2021-01-09           35        80        11
2021-01-10           33        63        12

## Q4

In [96]:
# reading two csv files
df1 = pd.read_csv('Student_2019.csv')
df2 = pd.read_csv('Student_2020.csv' )

'''
(i)
'''

# #display all hobbies types for each course in 2019

# df1_new = df1[['Course','Hobby']].drop_duplicates(keep='first')
# df1_new = df1_new.set_index(['Course','Hobby'],drop=True)
# df1_new = df1_new.sort_index()
# display('Hobbies in 2019 :: ',df1_new)  


# #display all hobbies types for each course in 2020
# df2_new = df2[['Course','Hobby']].drop_duplicates(keep='first')
# df2_new = df2_new.set_index(['Course','Hobby'],drop=True)
# df2_new = df2_new.sort_index()
# display('Hobbies in 2020 :: ',df2_new)  

'''
(ii)
'''

# print('Hobbies which are there in 2019 but not in 2020 for each course :: ')
df1_new = df1[['Course','Hobby']].set_index('Course',drop=True)
df2_new = df2[['Course','Hobby']].set_index('Course',drop=True)

for i in df1_new.index.unique():
    df = df1_new.loc[i]
    display(df[~df.isin(df2_new.loc[i].values.flatten())].dropna())


'''
(iii)
'''

# print('Hobbies which are common in both years :: ')
# for i in df1_new.index.unique():
#     df = df1_new.loc[i]
#     display(df[df.isin(df2_new.loc[i].values.flatten())].dropna())

'''
(iv)
'''
# print('Course names in which students are exploring all hobbies in 2019 :: ')
# for i in df1_new.index.unique():
#     if (len(df1_new.loc[i]['Hobby'].unique())==4):
#         print(i)

# print('\nCourse names in which students are exploring all hobbies in 2020 :: ')
# for i in df2_new.index.unique():
#     if (len(df2_new.loc[i]['Hobby'].unique())==4):
#         print(i)



'''
(v)
'''

# display('Number of students exploring each hobby in 2019 :: ',len(df1['Name'].value_counts()[df1['Name'].value_counts()==4])) 
# display('Number of students exploring each hobby in 2020:: ',len(df2['Name'].value_counts()[df2['Name'].value_counts()==4]))

Empty DataFrame
Columns: [Hobby]
Index: []

               Hobby
Course
Bcom(Hons)  painting

             Hobby
Course
Cs(Hons)   writing
Cs(Hons)  painting

'Number of students exploring each hobby in 2019 :: '

1

'Number of students exploring each hobby in 2020:: '

1