In [4]:
import numpy as np
import pandas as pd

## PRACTICAL ASSIGNMENT Q 3

## Q1

In [14]:
from cmath import nan

df = pd.DataFrame(np.random.randint(1,100,150).reshape(50,3),columns=['first','second','third'])
df.index.name = 'SNo.'

# #initializing rows(selected randomly) with nan 
# #generating random rows value
# random_rows = np.random.randint(0,50,5)
# print('Random selected rows :: ',random_rows)

# # initializing with nan
# df.iloc[random_rows] = nan

'''
(a)
'''

# # counting nan values
# print('Count of NaN values :: ',df.isna().sum().sum())

'''
=================================================================
'''

# # initializing specific elements = nan by generating random row and col index value
# random_rows = np.random.randint(0,50,15)
# random_cols = np.random.randint(0,3,15)
# random_index = list(zip(random_rows,random_cols))
# print('Random selected positions :: ',random_index)

# # initializing value at random_index with nan
# for a,b in random_index:
#     df.iloc[a,b] = nan

# print('Count of NaN values :: ',df.isna().sum().sum())


'''
(b)
'''
# # count of null values in a column
# nullCount = df.isna().sum()
# print('Count of Nan in each column :: \n',nullCount,'\n')
# indx = nullCount[nullCount>5].index
# print('Column with count of nan > 5 :: ',list(indx),'\n')
# data2 = df.drop(indx,axis=1)
# print(data2.head(5))

'''
(c)
'''

# # finding sum of each row
# data = df.sum(axis=1)

# # finding index of the row which have max sum value
# max_row_index = list(data[data == data.max()].index)
# print('Row index with max sum :: ',max_row_index)
# # drop that row
# display(df.drop(max_row_index))

'''
(d)
'''
# display(df.sort_values('first'))

'''
(e)
'''

# display(df.drop_duplicates(subset='first',keep='first'))

'''
(f)
'''
print('Correlation between first and second column :: ')
df_corr = df[['first','second']].corr()
display(df_corr)

print('Covariance between second  and third column :: ')
df_cov = df[['second','third']].cov()
display(df_cov)


display(df.head(10))

Correlation between first and second column ::

           first    second
first   1.000000  0.148803
second  0.148803  1.000000

Covariance between second  and third column ::

            second       third
second  921.851429  112.117551
third   112.117551  935.195510

      first  second  third
SNo.
0        19      15     23
1        49      44     91
2        23       9     63
3        85      66     34
4        68      18     56
5        35      74     81
6         1      68     10
7        26      40     48
8        13      89     80
9        39      92     15

## Q2.

In [136]:
Name = ['A','B','C','D','E','F','G','H','I','J']


#function generating roll NO.
rollno = []
for i in range(1,11):
    rollno.append('AC-'+str(i))

df = pd.DataFrame(np.random.randint(0,101,50).reshape(10,5),columns = ['S1','S2','S3','S4','S5'])
df.insert(0,'Roll No.',rollno,True)
df.insert(1,'Name',Name,True)
'''
(i)
'''

# df['AVG Marks'] = df.mean(axis=1)

'''
(ii)
'''

# new_row = df.mean()
# new_row.name = 'avg'
# df = df.append(new_row)

'''
(iii)
'''
# for i in df.columns[:len(df.columns)-1]:
#     print('Descriptive statistics of subject',i)
#     display(df[i].describe())

'''
(iv)
'''
# def grade(i):
#     if i>95:
#         return 'A+'  
#     elif i>90:
#         return 'A'
#     elif i>80:
#         return 'B'
#     elif i>70:
#         return 'C'
#     elif i>60:
#         return 'D'
#     else:
#         return 'E'


# f = lambda x :  grade(x)
# df['Grade'] = df['AVG Marks'].apply(f)

'''
(v)
'''
# print('Frequency of each grade :: ')
# display(df['Grade'].value_counts())


'''
(vi)
'''
# df.iloc[:,2:7] = df.iloc[:,2:7].applymap(f)
# df.drop(['AVG Marks','Grade'],axis=1,inplace = True)

# df.set_index('Roll No.',inplace=True)

# #function to get grade with max freq
# f = lambda x : x.value_counts().index[0]
# df['Max Grade Obtained'] = df.apply(f,axis=1)

# #funtion to get frequency of grade obtained max times
# f1 = lambda x : x.value_counts().values[0]
# df['Frequency'] = df.iloc[:,:5].apply(f1,axis=1)

display(df)

  Roll No. Name  S1  S2  S3  S4  S5
0     AC-1    A  83   0  71   4  20
1     AC-2    B  33  48  85  84  28
2     AC-3    C  75  33  48  16  63
3     AC-4    D  51  82  59  68  80
4     AC-5    E  85  14  60  54  99
5     AC-6    F  20  75  28  49  24
6     AC-7    G  32  23  15  18   5
7     AC-8    H  63  37  78  97  74
8     AC-9    I  16  43  97  31  41
9    AC-10    J  13  57  63  31  88

## Q3

In [45]:
hobby1 = ['Reading','Dancing','Writing','Singing','Reading','Painting']
hobby2 = ['Painting','Dancing','Reading','Playing','Writing','Singing']

hobby1.extend(hobby2)
new_series = pd.Series(hobby1).value_counts()
new_series.index.name = 'hobbies'
display(new_series)

hobbies
Reading     3
Dancing     2
Writing     2
Singing     2
Painting    2
Playing     1
dtype: int64